<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
    <script>
        
        function toggleDropdown() {
            document.getElementById('dropdownMenu').classList.toggle('hidden');
        }
    </script>

</head>
<body class="bg-cover bg-center h-screen"style="background-image: url(https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg?cs=srgb&dl=pexels-digitech-1438761.jpg&fm=jpg);">
    {% block content %}
    {% include "navbar.html" %}
        <div class="flex h-screen justify-center items-center">         
            <div class=" h-48 relative flex align-center justify-center mt-10 rounded-md px-2 py-1 text-sm font-medium text-black bg-white bg-opacity-75 rounded-lg border-30 p-10 w-1/4">
                <div class="h-full w-full flex flex-col justify-center items-center gap-8">

                    <h1> CHECK YOUR WEATHER</h1>
                    
                    <button type="submit" class="w-full flex align-center justify-center">
                        <a href="{% url "weather" %}" class="rounded-md px-3 py-2 text-sm font-medium text-white bg-gray-700 hover:bg-gray-700 hover:text-red-900">WEATHER</a>
                    </button>
                </div>
            </div>
        </div>


    {% comment %} <h1>user name= {{user.username}}</h1>
    <h1>email= {{user.email}}</h1> {% endcomment %}
    {% endblock content %}
</body>
</html>